@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* SLIDER AUSTIN */
.carousel-container {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: white;
}

.carousel-container-small {
  width: 100%;
  height: 18rem;
  padding: 20px;
  background-color: white;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0 0.6rem;
}

.carousel {
  padding: 0;
}

.custom-dot-list-style {
  bottom: -30px;
}
